<div class="mt-4">
    <form class="form-inline" method="POST" action="">
        <div class="form-group">
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="form-group">
          <select class="form-control" name="gender" id="gender-input">
            <option>-- Chọn giới tính --</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
          </select>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>